body{
	margin: 0;
	padding: 0;
	background-color: #ffffff;

	font-family: 'Roboto', sans-serif;
}
#main{
	width: 1004px;
	margin-top: 4px;
	margin-right: auto;
	margin-left: auto;
}
#leftContent{
	float: left;
	width: 200px;
}
#rightContent{
	float: right;
	width: 784px;
}
.button--div--largeButton{
	width: inherit;
	height: 200px;
	padding: 0;
	margin: 20px 0;
	border: 1px solid rgba(154,185,217,0.5);
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	user-select: none;
	transition: 0.3s;
}
.button--div--largeButton:hover{
	border-color: #9ab9d9;;
	background-color: rgba(154,185,217,0.5);
}
.button--div--largeButton>a{
	width: inherit;
	height: inherit;
	display: block;
	text-decoration: none;
	color: black;
	line-height: 200px;
	text-align: center;
	font-size: x-large;
}

/*Table styling*/
/**/

.timetable{
	border-spacing: 0;
	width: 784px;
	table-layout: fixed;
	margin: 20px 0;
}
.timetable tr{

}
.timetable tbody>tr{
	height: 90px;
}
.timetable tbody>tr:nth-child(odd){
	background-color: #eae9e7;
}
.timetable tr>th{
	padding: 0;
	height: 40px;
}
.timetable tr>td{
	margin: 0;
}
.timetable--weekdays{
	padding: 0 0 0 10px;
}
.timetable--time{
	width: 80px;
	text-align: center;
	padding: 0;
}
.timetable--hours{
	padding: 0;
}
.timetable--hours>div{
	height: 30px;
	width: inherit;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.checkbox--timetable{
	display: none;
}
.label--timetable{
	width: 100%;
	height: 100%;
	display: block;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	user-select: none;
	transition: 0.3s;
}
.checkbox--timetable:checked + .label--timetable{
	background-color: rgba(154,185,217,0.5);
	border: 1px solid #9ab9d9;
}

/**map styling**/
/****/
.map--campusMap{
	width: 784px;
	height: auto;
	border: 0;
	margin: 0;
	padding: 0;
}

/**timetable styling**/
/****/
.form--login, .form--anonymous{
	width: inherit;
	height: 260px;
	padding: 10px;
	margin: 20px 0;
	border: 1px solid rgba(154,185,217,0.5);
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	user-select: none;
	transition: 0.3s;
}

/**form styling**/
/****/
.input--text{
	max-width: 300px;
	width: 99%;
	height: 30px;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	display: block;
	margin: 10px;
}

.input--button{
	border: solid #C6B9A6 1px;
	background-color: #f9f9f9;
	border-radius: 2px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	padding: 4px 12px;
	transition: 0.5s;
}
.input--button:hover{
	background-color: #003CA0;
	border-color: rgba(154,185,217,0.5);
	color: #ffffff;
}